/* TV */
body.extras-tv {
  background: linear-gradient(red 0, red 33%, lime 33%, lime 66%, blue 66%, blue 100%);
  height: 100vh;
  background-size: 5px 5px;
  -webkit-animation: scale 5s cubic-bezier(0.9, 0.1, 0.9, 0.1) infinite;
          animation: scale 5s cubic-bezier(0.9, 0.1, 0.9, 0.1) infinite;
  background-position: center center;
}
@-webkit-keyframes scale {
  0%, 100% {
    background-size: 1px 1px;
  }
  50% {
    background-size: 2px 7px;
  }
}
@keyframes scale {
  0%, 100% {
    background-size: 1px 1px;
  }
  50% {
    background-size: 2px 7px;
  }
}
/* NEON */
@import url(//fonts.googleapis.com/css?family=Vibur);
#text-neon {
   font-family: "Vibur";
   color: #fee;
   text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f44, 0 0 0.5em #f44, 0 0 0.1em #f44, 0 10px 3px #000;
}
 #text-neon b:nth-of-type(2) {
   animation: blink linear infinite 2s;
}
 #text-neon span:nth-of-type(1) {
   animation: blink linear infinite 5s;
}
 @keyframes blink {
   78% {
     color: inherit;
     text-shadow: inherit;
  }
   79% {
     color: #333;
  }
   80% {
     text-shadow: none;
  }
   81% {
     color: inherit;
     text-shadow: inherit;
  }
   82% {
     color: #333;
     text-shadow: none;
  }
   83% {
     color: inherit;
     text-shadow: inherit;
  }
   92% {
     color: #333;
     text-shadow: none;
  }
   92.5% {
     color: inherit;
     text-shadow: inherit;
  }
}
/* GLOW 3D */
@import url(https://fonts.googleapis.com/css?family=Concert+One);

body.extras-glow3d {
  overflow: initial;
}
#text-glow3d p {
  animation:glow 10s ease-in-out infinite;


  animation:none;
  -webkit-text-stroke:1px #fff;
/* For less laggy effect, uncomment this:
  animation:none;
  -webkit-text-stroke:1px #fff;*/
}

#text-glow3d {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
}
figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}

#text-glow3d p {
  width: 100%;
  padding: 40px;
  line-height: 1.5;
  font: 900 8em 'Concert One', sans-serif;
  position: absolute;
}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}

#text-glow3d p:nth-child(2){ transform:translateZ(5px); }
#text-glow3d p:nth-child(3){ transform:translateZ(10px);}
#text-glow3d p:nth-child(4){ transform:translateZ(15px); }
#text-glow3d p:nth-child(5){ transform:translateZ(20px); }
#text-glow3d p:nth-child(6){ transform:translateZ(25px); }
#text-glow3d p:nth-child(7){ transform:translateZ(30px); }
#text-glow3d p:nth-child(8){ transform:translateZ(35px); }
#text-glow3d p:nth-child(9){ transform:translateZ(40px); }
#text-glow3d p:nth-child(10){ transform:translateZ(45px); }

/* CANDLE */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');


#extras-candle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}

.holder {
  width: 150px;
  height: 400px;
  position: relative;
  transform: translate(-50%, -50%) rotate(90deg);
  left: 20%;
  top: 50%;
}

.holder *, .holder *:before, .holder *:after {
  position: absolute;
  content: "";
}

.candle {
  bottom: 0;
  width: 150px;
  height: 500px;
  border-radius: 150px / 40px;
  box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4), inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
  background: #190f02;
  background: -moz-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -webkit-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -o-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -ms-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
}

.candle:before {
  width: 100%;
  height: 40px;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid #d47401;
  background: #b86409;
  background: -moz-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -webkit-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -o-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -ms-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: radial-gradient(#ffef80, #b86409 60%);
  background: radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
}

.candle:after {
  width: 34px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
}

.thread {  
  width: 6px;
  height: 36px;
  top: -17px;
  left: 50%;
  z-index: 1;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
  background: -moz-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -webkit-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -o-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -ms-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
}

.flame {
  width: 24px;
  height: 120px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

.flame:before {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, .4), 0 -6px 4px 0 rgba(247, 128, 0, .7);
}

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%, 100% {
    height: 120px;
  }
  50% {
    height: 140px;
  }
}

.glow {
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, .7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, .6), inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
  50% { opacity: .8;}
}

/* SPARKS */
[id^="extras-"] {
  z-index: 9;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
}

/* SKY */
:root {
   --twinkle-duration: 4s;
}
body.extras-sky .displayed-text {
  z-index: 10;
}
 .stars-wrapper {
   position: relative;
   pointer-events: none;
   width: 100vw;
   height: 100vh;
   background: linear-gradient(#16161d, #1f1f3a, #3b2f4a);
   overflow: hidden;
}
.stars {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100% !important;
   height: 100% !important;
   animation: twinkle var(--twinkle-duration) ease-in-out infinite;
}
 .stars:nth-child(2) {
   animation-delay: calc(var(--twinkle-duration) * -0.33);
}
 .stars:nth-child(3) {
   animation-delay: calc(var(--twinkle-duration) * -0.66);
}
 @keyframes twinkle {
   25% {
     opacity: 0;
  }
}
 .star {
   fill: white;
}
 .star:nth-child(3n) {
   opacity: 0.8;
}
 .star:nth-child(7n) {
   opacity: 0.6;
}
 .star:nth-child(13n) {
   opacity: 0.4;
}
 .star:nth-child(19n) {
   opacity: 0.2;
}
 .comet {
   transform-origin: center center;
   animation: comet 10s linear infinite;
}
 @keyframes comet {
   0%, 40% {
     transform: translateX(0);
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
   60%, 100% {
     transform: translateX(-100vmax);
     opacity: 0;
  }
}
 .comet-b {
   animation-delay: -3.3s;
}
 .comet-c {
   animation-delay: -5s;
}
 

/*XBOX Achievement */
#extras-xbox-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
#extras-xbox-container p { 
  font-size: 40px;
  margin: 10px 20px 25px;
  animation: fade 6s linear 1s infinite normal; 
}

#extras-xbox-container .content { 
  background-color: #2C2827; 
  border: 7px solid #464241;
  border-radius: 72px;
  height: 114px;
  padding: 10px 13px;
  overflow: hidden;
  width: 114px; /* 610*/
  top: 50%;
  position: fixed;
  bottom: 10px;
  animation: open 6s linear 1s infinite normal;
  transform: scale(1.2) translateY(-50%);
}

#extras-xbox-container .circle { 
  width: 114px; 
  height: 114px; 
  position: relative;
  float: left;
}

#extras-xbox-container .circle div.icon {
  content:'';  
  width:70px;
  height:70px;
  border: 3px solid #050608;
  position: absolute; 
  border-radius:50%;
  margin: 19px;
  background-color: #050608;
  text-align: center;
  font-size: 63px;
  overflow: hidden;
  color: #83A02C;
}

#extras-xbox-container .circle div.leds { 
  width: 45px; 
  height: 45px; 
  float: left;
  border: 6px solid #050608; 
  background-color: #605B57;
}

#extras-xbox-container .led-1 { border-radius: 100% 0 0 0; }
#extras-xbox-container .led-2 { border-radius: 0 100% 0 0; }
#extras-xbox-container .led-3 { border-radius: 0 0 0 100%; }
#extras-xbox-container .led-4 { border-radius: 0 0 100% 0; }

#extras-xbox-container .circle div.blink { 
  background-color: #83A02C;
  animation: blink 6s linear 1s infinite normal;  
}

#extras-xbox-container .achievement { 
  float: left;
  display: block;
  position: absolute;
  left: 140px; 
  font-family: 'Ubuntu', sans-serif;
  color: #CFC6BF
}

@-webkit-keyframes blink {
    0% { background-color: #83A02C; }
    4% { background-color: #83A02C; }
    8% { background-color: #605B57; }
   12% { background-color: #83A02C; }
   16% { background-color: #605B57; }
   20% { background-color: #83A02C; }
   24% { background-color: #605B57; }
   28% { background-color: #83A02C; }
   32% { background-color: #605B57; }
   36% { background-color: #83A02C; } 
  100% { background-color: #83A02C; }
}

@-webkit-keyframes open {
    0% { opacity: 0; width: 114px; }
   10% { width: 114px; }
   15% { opacity: 1; width: 610px;  }
   55% { opacity: 1; width: 610px; }
   63% { opacity: 0; width: 114px; }
  100% { opacity: 0; width: 114px; }
}

@-webkit-keyframes fade {
    0% { opacity: 0; }
   18% { opacity: 0; }
   20% { opacity: 1; }
   50% { opacity: 1; }
   53% { opacity: 0; }
  100% { opacity: 0; }
}


/* LED BACKGROUND */
#extras-led-container .filter {
  position: fixed;
  width: min(90vw, 90vh);
  width: 100%;
  height: 100%;
  aspect-ratio: 10/7;
  user-select: none !important;
  pointer-events: none;
  touch-action: none;
  // border-radius: 50%;
  top: 0%;
  left: 0%;
/*  backdrop-filter: url(#led-screen);
  box-shadow: var(--shadow-elevation-high);*/


  z-index: 9;

  color: #aaa;
  &::before,
  &::after {
    position: absolute;
    border: 4px solid;
    width: 20%;
    height: 1rem;
    top: calc(-3rem + 5px);
    left: 50%;
    transform: translate(-50%);
  }

  &::before {
    width: 10%;
    top: calc(-2rem + 9px);
    border-bottom: 0;
  }

  &::after {
    background-color: currentColor;
    border-radius: 4px;
  }
}

html {
/*  --surface: hsl(200 10% 10%);
  --text: hsl(200 5% 80%);
  --hero-h: calc(100vh - 40px);

  background-color: var(--surface);
  color: var(--text);
  block-size: 100%;*/
}

.track {
  animation: marquee 8s linear infinite;
  line-height: 0;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}











