@font-face {
  font-family: "14 Segment LED";
  src: url('fonts/14 Segment LED.ttf');
}
@font-face {
  font-family: "Big Daddy LED TFB";
  src: url('fonts/Big Daddy LED TFB.ttf');
}
@font-face {
  font-family: "enhanced_led_board-7";
  src: url('fonts/enhanced_led_board-7.ttf');
}
@font-face {
  font-family: "jd_led3";
  src: url('fonts/jd_led3.ttf');
}
@font-face {
  font-family: "jd_led5";
  src: url('fonts/jd_led5.ttf');
}
@font-face {
  font-family: "jd_led7";
  src: url('fonts/jd_led7.ttf');
}
@font-face {
  font-family: "Led Bus";
  src: url('fonts/Led Bus.ttf');
}
@font-face {
  font-family: "LED LCD 123";
  src: url('fonts/LED LCD 123.ttf');
}
@font-face {
  font-family: "Led Panel Station Off";
  src: url('fonts/Led Panel Station Off.ttf');
}
@font-face {
  font-family: "led_8x6";
  src: url('fonts/led_8x6.ttf');
}
@font-face {
  font-family: "led_board-7";
  src: url('fonts/led_board-7.ttf');
}
@font-face {
  font-family: "led_counter_plus_7_italic";
  src: url('fonts/led_counter_plus_7_italic.ttf');
}
@font-face {
  font-family: "led_counter_plus_7";
  src: url('fonts/led_counter_plus_7.ttf');
}
@font-face {
  font-family: "led_counter-7_italic";
  src: url('fonts/led_counter-7_italic.ttf');
}

@font-face {
  font-family: "led_counter-7";
  src: url('fonts/led_counter-7.ttf');
}
@font-face {
  font-family: "led_display-7";
  src: url('fonts/led_display-7.ttf');
}
@font-face {
  font-family: "LEDBDREV";
  src: url('fonts/LEDBDREV.TTF');
}
@font-face {
  font-family: "LEDBOARD";
  src: url('fonts/LEDBOARD.TTF');
}
@font-face {
  font-family: "LEDCalculator";
  src: url('fonts/LEDCalculator.ttf');
}
@font-face {
  font-family: "leders St";
  src: url('fonts/leders St.ttf');
}
@font-face {
  font-family: "LediZ St";
  src: url('fonts/LediZ St.ttf');
}
@font-face {
  font-family: "LEDSimulator";
  src: url('fonts/LEDSimulator.ttf');
}
@font-face {
  font-family: "light_led_board-7";
  src: url('fonts/light_led_board-7.ttf');
}
@font-face {
  font-family: "light_led_display-7";
  src: url('fonts/light_led_display-7.ttf');
}
@font-face {
  font-family: "modern_led_board-7";
  src: url('fonts/modern_led_board-7.ttf');
}
@font-face {
  font-family: "NEONLEDLight";
  src: url('fonts/NEONLEDLight.otf');
}
@font-face {
  font-family: "New Led Board tfb";
  src: url('fonts/New Led Board tfb.ttf');
}
@font-face {
  font-family: "NEW LED DISPLAY ST";
  src: url('fonts/NEW LED DISPLAY ST.ttf');
}
@font-face {
  font-family: "rounded_led_board-7";
  src: url('fonts/rounded_led_board-7.ttf');
}
@font-face {
  font-family: "RUNNING LED Regular";
  src: url('fonts/RUNNING LED Regular.otf');
}
@font-face {
  font-family: "serif_led_board-7";
  src: url('fonts/serif_led_board-7.ttf');
}
@font-face {
  font-family: "TEXASLED";
  src: url('fonts/TEXASLED.TTF');
}
@font-face {
  font-family: "UltraLED St";
  src: url('fonts/UltraLED St.ttf');
}


































