@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/materialui.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "Vibur";
  src: url('fnt/Vibur-Regular.ttf');
}
@font-face {
  font-family: "Open Sans";
  src: url('fonts/OpenSans.ttf');
}
@font-face {
  font-family: "14 Segment LED";
  src: url('fonts/14 Segment LED.ttf');
}
@font-face {
  font-family: "Big Daddy LED TFB";
  src: url('fonts/Big Daddy LED TFB.ttf');
}
@font-face {
  font-family: "enhanced_led_board-7";
  src: url('fonts/enhanced_led_board-7.ttf');
}
@font-face {
  font-family: "jd_led5";
  src: url('fonts/jd_led5.ttf');
}
@font-face {
  font-family: "jd_led7";
  src: url('fonts/jd_led7.ttf');
}
@font-face {
  font-family: "Led Bus";
  src: url('fonts/Led Bus.ttf');
}
@font-face {
  font-family: "LED LCD 123";
  src: url('fonts/LED LCD 123.ttf');
}
@font-face {
  font-family: "Led Panel Station Off";
  src: url('fonts/Led Panel Station Off.ttf');
}
@font-face {
  font-family: "led_8x6";
  src: url('fonts/led_8x6.ttf');
}
@font-face {
  font-family: "led_board-7";
  src: url('fonts/led_board-7.ttf');
}
@font-face {
  font-family: "led_counter_plus_7_italic";
  src: url('fonts/led_counter_plus_7_italic.ttf');
}
@font-face {
  font-family: "led_counter_plus_7";
  src: url('fonts/led_counter_plus_7.ttf');
}
@font-face {
  font-family: "led_counter-7_italic";
  src: url('fonts/led_counter-7_italic.ttf');
}

@font-face {
  font-family: "led_counter-7";
  src: url('fonts/led_counter-7.ttf');
}
@font-face {
  font-family: "led_display-7";
  src: url('fonts/led_display-7.ttf');
}
@font-face {
  font-family: "LEDBDREV";
  src: url('fonts/LEDBDREV.TTF');
}
@font-face {
  font-family: "LEDBOARD";
  src: url('fonts/LEDBOARD.TTF');
}
@font-face {
  font-family: "LEDCalculator";
  src: url('fonts/LEDCalculator.ttf');
}
@font-face {
  font-family: "leders St";
  src: url('fonts/leders St.ttf');
}
@font-face {
  font-family: "LediZ St";
  src: url('fonts/LediZ St.ttf');
}
@font-face {
  font-family: "LEDSimulator";
  src: url('fonts/LEDSimulator.ttf');
}
@font-face {
  font-family: "light_led_board-7";
  src: url('fonts/light_led_board-7.ttf');
}
@font-face {
  font-family: "light_led_display-7";
  src: url('fonts/light_led_display-7.ttf');
}
@font-face {
  font-family: "modern_led_board-7";
  src: url('fonts/modern_led_board-7.ttf');
}
@font-face {
  font-family: "NEONLEDLight";
  src: url('fonts/NEONLEDLight.otf');
}
@font-face {
  font-family: "New Led Board tfb";
  src: url('fonts/New Led Board tfb.ttf');
}
@font-face {
  font-family: "NEW LED DISPLAY ST";
  src: url('fonts/NEW LED DISPLAY ST.ttf');
}
@font-face {
  font-family: "rounded_led_board-7";
  src: url('fonts/rounded_led_board-7.ttf');
}
@font-face {
  font-family: "RUNNING LED Regular";
  src: url('fonts/RUNNING LED Regular.otf');
}
@font-face {
  font-family: "serif_led_board-7";
  src: url('fonts/serif_led_board-7.ttf');
}
@font-face {
  font-family: "TEXASLED";
  src: url('fonts/TEXASLED.TTF');
}
@font-face {
  font-family: "UltraLED St";
  src: url('fonts/UltraLED St.ttf');
}


.arial, body.arial #typed {font-family: "Arial";}
.timenewroman, body.timesnewroman #typed {font-family: "Times New Roman";}
.comicsans, body.comicsans #typed {font-family: "Comic Sans MS";}

.font2, body.font2 #typed {font-family: "Big Daddy LED TFB";}
.font3, body.font3 #typed {font-family: "enhanced_led_board-7";}
.font4, body.font4 #typed {font-family: "jd_led5";}
.font7, body.font7 #typed {font-family: "LED LCD 123";}
.font9, body.font9 #typed {font-family: "led_8x6";}
.font10, body.font10 #typed {font-family: "led_board-7";}
.font12, body.font12 #typed {font-family: "led_counter_plus_7";}
.font14, body.font14 #typed {font-family: "led_counter-7";}
.font15, body.font15 #typed {font-family: "led_display-7";}
.font16, body.font16 #typed {font-family: "LEDBDREV";}
.font18, body.font18 #typed {font-family: "LEDCalculator";}
.font19, body.font19 #typed {font-family: "leders St";}
.font20, body.font20 #typed {font-family: "LediZ St";}
.font22, body.font22 #typed {font-family: "light_led_board-7";}
.font23, body.font23 #typed {font-family: "light_led_display-7";}
.font24, body.font24 #typed {font-family: "modern_led_board-7";}
.font25, body.font25 #typed {font-family: "NEONLEDLight";}
.font26, body.font26 #typed {font-family: "New Led Board tfb";}
.font27, body.font27 #typed {font-family: "NEW LED DISPLAY ST";}
.font28, body.font28 #typed {font-family: "rounded_led_board-7";}
.font29, body.font29 #typed {font-family: "RUNNING LED Regular";}
.font30, body.font30 #typed {font-family: "serif_led_board-7";}































